<ion-header>
  <ion-toolbar>
    <ion-title>survey-one</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button>Primary</ion-button>
  <ion-button color="danger" routerLink="/survey-two">Go to survey-two</ion-button>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div (click)="onSelect()">
            <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Slightly_Smiling_Face_Emoji_87fdae9b-b2af-4619-a37f-e484c5e2e7a4_large.png?v=1480481059">
          </div>
        </ion-col>
        <ion-col>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Slightly_Smiling_Face_Emoji_87fdae9b-b2af-4619-a37f-e484c5e2e7a4_large.png?v=1480481059">
            </div>
        </ion-col>
        <ion-col>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Slightly_Smiling_Face_Emoji_87fdae9b-b2af-4619-a37f-e484c5e2e7a4_large.png?v=1480481059">
            </div>
        </ion-col>
        <ion-col>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Slightly_Smiling_Face_Emoji_87fdae9b-b2af-4619-a37f-e484c5e2e7a4_large.png?v=1480481059">
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
